body {
    padding-top: 60px;
}

.spinner {
    animatin: spin 1s infinite;
    -webkit-animation: spin 1s infinite;
}

@keyframes spin {
    from { transform: rotate(0deg);   }
    to   { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);   }
    to   { -webkit-transform: rotate(360deg); }
}